body {
font-family: 'Montserrat', sans-serif;
color: #4c71fe;
background-color: #0000;
font-size: 20px
padding: 8em;
}
h2 {font-size: 28px;
padding: 2em;
}
h2 span { font-family: 'Oswald', sans-serif;}
.char1{
  color: #FACC2E;
  font-size: 2em;
}
.char2{
  color: #FACC2E;
  font-size: 2em;
}
.char3{
  color: #FACC2E;
  font-size: 2em;
}
.char4{
  color: #FACC2E;
  font-size: 2em;
}
.char5{
  color: #FACC2E;
  font-size: 2em;
}
.char6{
  color: #FACC2E;
  font-size: 2em;
}
.char7{
  color: #FACC2E;
  font-size: 2em;
}
.char14{
  color: #FACC2E;
  font-size: 2em;
}
.char15{
  color: #FACC2E;
  font-size: 2em;
}
.char16{
  color: #FACC2E;
  font-size: 2em;
}
.char17{
  color: #FACC2E;
  font-size: 2em;
}
.char18{
  color: #FACC2E;
  font-size: 2em;
}
.char19{
  color: #FACC2E;
  font-size: 2em;
}
.char20{
  color: #FACC2E;
  font-size: 2em;
}
.char21{
  color: #FACC2E;
  font-size: 2em;
}
h3{font-size: 30px;
  text-align: center;
}
header{
font-family: 'Oswald', sans-serif;
font-size: 80px;
text-align: center;
background-image: url(image/bg-header-02.jpg);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
min-height: 80vh;
display: flex;
justify-content: center;
align-items: center;
}

section{ font-family: 'Quicksand', sans-serif;
padding: 1em;
text-align: center;
}
.section-content-block {
  padding: 4em;

}
.section-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.comp-content {
text-align: center;
padding: 1em;
max-width: 320px;}

footer{padding: 3em;}
#bio{
background-color: #0000;
padding: 2em;
margin: 6px;
}


#portfolio{ background-color:#0000;
padding: 4em;
margin: 8px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
